<!-- <div class="itinerary-container">
  <div *ngFor="let itinerary of itineraries" class="itinerary">
    <h2>{{ itinerary.itineraryName }}</h2>
    <p>{{ itinerary.itineraryDescription }}</p>

    <div *ngFor="let service of itinerary.touristServicesIds" class="service">
      <div class="service-info">
        <p><strong>Date:</strong> {{ service.serviceDate | date: 'medium' }}</p>
        <p><strong>Service:</strong> {{ service.serviceName }}</p>
      </div>
      <img [src]="service.images[0]" alt="{{ service.serviceName }}" class="service-image">
    </div>
  </div>
</div> -->