.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.search-field {
  background-color: transparent;
  border-radius: 50px;
  width: 65%;
  margin-right: 10px;
}

.search-input {
  border: none;
  outline: none;
  width: 100%;
}

.search-icon {
  color: #2196F3;
  font-size: 24px;
}

.notification-button-container {
  margin-left: 1px;
  margin-right: 10px;
}

.notification-button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center; 
  border: none;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.notification-button:hover mat-icon {
  color: #2196F3;
}

.notification-button mat-icon {
  color: inherit;
  font-size: 20px; 
}
