<div class="container-selection-profile">
    <app-card-selected-profile class="company-profile"
        [title]="'Company'"
        [content]="'Connect your bussiness with the users'"
        [redirectUrl]="'/register-tourist-provider'"
    ></app-card-selected-profile>

    <app-card-selected-profile class="traveler-profile"
        [title]="'Traveler'"
        [content]="'We have  the best adventure for you'"
        [redirectUrl]="'/register-tourist'"
    ></app-card-selected-profile>
</div>