<div class="filter-container">
  <div class="filter-content">
    <mat-tab-group class="filter-options">
      <mat-tab label="Activities">
        <div class="service-grid">
          <div class="service-row">
            <div class="service-item" *ngFor="let activity of touristServiceCategory1; let i = index">
              <img src="{{activity.images[0]}}" alt="{{ activity.serviceName }}">
              <div class="service-details">
                <button class="service-name" [routerLink]="['/tourist-service/details', activity.id]">{{ activity.serviceName }}</button>
                <p class="service-description">{{ activity.serviceDescription }}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Hotels">
        <div class="service-grid">
          <div class="service-row">
            <div class="service-item" *ngFor="let hotel of touristServiceCategory2; let i = index">
              <img src="{{hotel.images[0]}}" alt="{{ hotel.serviceName }}">
              <div class="service-details">
                <button class="service-name" [routerLink]="['/tourist-service/details', hotel.id]">{{ hotel.serviceName }}</button>
                <p class="service-description">{{ hotel.serviceDescription }}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Restaurants">
        <div class="service-grid">
          <div class="service-row">
            <div class="service-item" *ngFor="let restaurant of touristServiceCategory3; let i = index">
              <img src="{{restaurant.images[0]}}" alt="{{ restaurant.serviceName }}">
              <div class="service-details">
                <button class="service-name" [routerLink]="['/tourist-service/details', restaurant.id]">{{ restaurant.serviceName }}</button>
                <p class="service-description">{{ restaurant.serviceDescription }}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Tours">
        <div class="service-grid">
          <div class="service-row">
            <div class="service-item" *ngFor="let tour of touristServiceCategory4; let i = index">
              <img src="{{tour.images[0]}}" alt="{{ tour.serviceName }}">
              <div class="service-details">
                <button class="service-name" [routerLink]="['/tourist-service/details', tour.id]">{{ tour.serviceName }}</button>
                <p class="service-description">{{ tour.serviceDescription }}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
