<div class="ad-info-container">
    <div class="ad-thumbnail">
        <img src="https://cdn.discordapp.com/attachments/676555157386821673/1155796601021923438/sample_51d4e00517a5ef20b4151bd95e21fffc.png?ex=65149d37&is=65134bb7&hm=6f89491a2aaa551af9d3fa0f8ddad40642f53b6902be7502935ea5ec0d97b7b8&" alt="turist service thumbnail">
    </div>
    <div class="info-container">
        <div>
            <h3>{{name}} <a [href]="redirectTo" target="_blank">{{serviceName}}</a> </h3>
        </div>
        
        <div class="details-container">
            <p id="clicks">clicks: {{clicks}}</p>
            <p id="views">views: {{views}} </p>
            <p id="cpv">clicks per views: {{cpv}}  </p>
            <p id="amount">amount invested: {{amount}}</p>
        </div>
    </div>
</div>