<div class="navigation-bar">
    <button mat-icon-button class="nav-button" [class.active]="activeTab === 'home'" (click)="navigateTo('home')">
      <mat-icon [style.color]="activeTab === 'home' ? 'blue' : ''">home</mat-icon>
    </button>
    <button mat-icon-button class="nav-button" [class.active]="activeTab === 'itinerary-catalog'" (click)="navigateTo('itinerary-catalog')">
        <span class="material-icons" [style.color]="activeTab === 'catalog' ? 'blue' : ''">date_range</span>
      </button>
    <button mat-icon-button class="nav-button" [class.active]="activeTab === 'chat'" (click)="navigateTo('chat')">
      <mat-icon [style.color]="activeTab === 'chat' ? 'blue' : ''">chat</mat-icon>
    </button>
    <button mat-icon-button class="nav-button" [class.active]="activeTab === 'subscriptions'" (click)="navigateTo('subscriptions')">
      <span class="material-icons" [style.color]="activeTab === 'subscriptions' ? 'blue' : ''">pending_actions</span>
    </button>
    <button mat-icon-button class="nav-button" [class.active]="activeTab === 'profile'" (click)="navigateTo('profile')">
      <mat-icon [style.color]="activeTab === 'profile' ? 'blue' : ''">person</mat-icon>
    </button>
    <button mat-icon-button class="nav-button" [class.active]="activeTab === 'faq'" (click)="navigateTo('faq')">
      <mat-icon [style.color]="activeTab === 'faq' ? 'blue' : ''">help</mat-icon>
    </button>
  </div>