.custom-toolbar {
  background-color: #ff511d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100px;
  margin: 0 auto;
}

.left-section {
  display: flex;
  align-items: center;
}

.left-section img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid rgb(250, 250, 250);
}

.center-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-section {
  display: flex;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.location i {
  font-size: 24px;
}

.button-container {
  display: flex;
  align-items: center;
}

/* Media query para tamaños de pantalla menores a 520px */
@media (max-width: 520px) {
  .left-section span {
    display: none;
  }

  .right-section {
    display: none;
  }

  .custom-toolbar {
    justify-content: flex-end;
    padding: 10px;
  }

  .center-section {
    justify-content: flex-end;
    margin-left: auto;
  }

  .left-section img {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
