.question-form-container {
    width: 400px;
    padding: 20px;
    margin: 0 auto; 
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    background-image: url('https://cdn.discordapp.com/attachments/1120134585896939531/1177896613776203826/desktop-wallpaper-green-themed-minimalist-for-pinterest-landscape-2021.jpg?ex=65742cb4&is=6561b7b4&hm=cd1bc6bf31bca9b67a0be6b73ddc9f6a1d4e6f5f266de5e1c39eac33f37e779e&');
    background-size: cover;
    background-position: center;
  }
  
  h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: #fff;
  }
  
  button[type="submit"] {
    background-color: #4caf50;
  }
  
  button[type="button"] {
    background-color: #f44336;
  }
  