<div class="form">
    <h2>Ad form</h2>
    <form action="#" method="post" enctype="multipart/form-data">
        
        <mat-form-field>
            <mat-label>Enter an ad name</mat-label>
            <input matInput placeholder="my new ad" [formControl]="nameControl" [(ngModel)]="adName" required>
            <mat-error *ngIf="nameControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Enter the amount</mat-label>
            <input matInput placeholder="100" type="number" [formControl]="amountControl" [(ngModel)]="adAmount" min="100" required>
            <span matTextPrefix>$&nbsp;</span>
            <mat-error *ngIf="amountControl.invalid">{{getAmountErrorMessage()}}</mat-error>
        </mat-form-field>

        <label for="image">Ad image:</label>
        <input type="file" id="image" name="image" accept="image/*" [(ngModel)]="adImage" required>

        <mat-form-field>
            <mat-label>Select a service</mat-label>
            <mat-select [(ngModel)]="adTuristService" [formControl]="serviceControl" required>
                <mat-option *ngFor="let service of turistServices" [value]="service.id">{{service.service_name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="serviceControl.invalid">{{getServiceErrorMessage()}}</mat-error>
        </mat-form-field>

        <div>
            <button type="submit" (click)="createAd()">Create</button>
        </div>
    </form>
</div>

